* {
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    align-content: center;
    background: linear-gradient(to right, #cf4da5 51%, #5a92cd);
    color: white;
}

.formulario input {
margin-bottom: 5px;
}

.cajita {
    border: solid black;
    border-radius: 10px;
}