* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
}

.inicio-container {
  width: 100%;
  height: 100%;
  padding: 25px;
  text-align: center;
}

.registro-container {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.formulario {
 display: flex;
 flex-direction: column;
 padding: 30px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}

.logo {
  width: 150px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 25px;
}

h3 {
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 10px;
}

form input[type="email"], form input[type="password"], form input[type="id"], form input[type="name"], form input[type="phone"], form select, form input[type="text"], form input[type="date"] {
  width: 100%;
  padding: 18px;
  margin: 10px 0;
  border: 1px solid #c0bfbf;
  border-radius: 5px;
}

hr {
    margin-bottom: 10px;
    margin-top: 5px;
    border: solid 0.2px rgb(226, 224, 224);
}

.recuerdame {
  display: flex;
  justify-content: left;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
}

.soloida {
  display: flex;
  justify-content: left;
  margin: 10px;
  margin-left: 20px;
  margin-right: 0;
  font-size: 14px;
}

.recuerdame input {
  margin-right: 8px;
}

.soloida input {
  margin-right: 8px;
}

button {
  width: 100%;
  background-color: #2099fc;
  color: white;
  border: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

a {
  display: block;
  color: #2196f3;
  margin-top: 20px;
  margin-top: 20px;
  font-size: 14px;
}

.header {
  background: linear-gradient(to right, #d13c9f , #359ee6);
  padding: 5px;
  text-align: center;
}

p {
  font-weight:lighter;
  color: rgb(154, 153, 153);
  text-align: left;
  font-size: 14px;
}

.pvd {
  font-weight:bold;
  color: rgb(154, 153, 153);
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.cajita {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 10px 0;
  border: solid 0.2px rgba(0, 0, 0, 0.15);
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.cajitavd {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 10px 0;
  border: solid 0.2px rgba(0, 0, 0, 0.15);
  display:flex;
  justify-content: space-between;
}

.cajitavd img {
  width: 80px;
  padding: 0px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
  margin-right: 30px;
}

.cajitadecajita1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1px;;
}

.cajitadecajita2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cajitadecajita3 {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.cajitadecajita3 p {
  text-align: right;
}

.cajitadecajita2 p {
  text-align: left;
  margin-bottom: 5px;
}

strong {
  font-size: 20px;
}

.cajita img {
  width: 100px;
  padding: 0px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -20px;
}

.texto {
  margin-left: -20px;
  font-size: 18px;
  font-weight: bold;
}

.flecha {
  font-weight: bold;
}

.header img {
    width: 300px;
    margin: 0;
    padding: 0;
}

.usuario {
  margin-top: -30px;
  display: flex;
  text-align: left;
}

.usuariotext {
  display: flex;
  flex-direction: column;
}


.usuariotext h2 {
  font-size: 22px;
  margin-bottom: -20px;
}

.usuario img {
  width: 80px;
  margin-left: -10px;
  margin-top: 4px;
}
